1ERO/LND/PRUEBAS_XSD/prueba.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="0.1" xml:lang="es">
    <xs:element name="marcadores"> <!--Definicion Elemento Raiz-->
        <xs:complexType> 
            <xs:sequence>
                <xs:element name="marcador" maxOccurs="1" type="xs:string"/>
                <xs:element name="veces" minOccurs="0" type="xs:integer"/>
                <xs:element name="tiempo_seg"  minOccurs="0" maxOccurs="4" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>